html{
    scroll-behavior: smooth;
}
#heading{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: -210px;
}
#heading>div{
    width: 4535px;
}
#statements{
     display: flex;
     margin-top: 90px;
    width: 500px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow: hidden;
}
#statements>div{
   
   width:500px;
   display: flex;
   height: 210px;
}
h1{
    margin: auto;
    align-items: center;
    width: 82%;
    display: grid;
    font-size: 40px;
    /* height: 464px; */
    grid-template-columns: repeat(5,440px) ;
    grid-template-rows: repeat(1, 200px);
}

#heading>div>div>img{
    /* margin-left: 116px; */
    margin: auto;
    align-items: center;
    width: 82%;
    display: flex;
    height: 464px;
    margin-left: -5px;
    border-radius: 180px;
}
#imgs{
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    gap: 133px;
    height: 512px;
    margin-left: 30px;
    overflow: hidden;
}
#imgs>img{
    margin-left: 20px;
}




.left-button{
    position: relative;
    top: 223px;
    left: -57px;
    transform: rotate(270deg);
    border-radius: 24px;
    width: 30px;
    border: 1px solid purple;
    background-color: rgb(167, 140, 167)
}
.right-button{
    position: relative;
    top: 270px;
    left: -92px;
    transform: rotate(90deg);
    border-radius: 24px;
    width: 30px;
    border: 1px solid purple;
    background-color: rgb(167, 140, 167)
}





#sections{
    /* margin-bottom: 50px; */
padding-top: 150px;
    display: flex;
    width: 80%;
    margin: auto;
    /* background-color: aquamarine; */
    height: 600px;               
}
#sections>#sub{
    width: 381px;
    /* border: 1px solid red; */
}
#sections>#sub>h1{
    display: flex;
    font-size: 30px;
}
#sections>#sub>p{
    font-size: 20px;
    color: rgb(115, 73, 154);
}
#sections1{
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 250px);
    gap: 50px;
    margin-left: 44px;
    margin-top: 22px;
}
#sections1>div{
    /* border: 1px solid black; */
    margin-left: 44px;
    position: relative;
    border-radius: 6px;
    box-shadow: -8px 8px 19px -8px rgb(123 127 218 / 20%);
    display: grid;
    /* padding-left: 20px; */
    /* grid-template-rows: auto 1fr; */
    transition: all .2s ease-out;
}
#sections1>div:hover{
/* background-color: bisque; */
margin-top: 10px;
box-shadow:5px 5px 8px blue;

}
#sections1>div>p{
    font-size: 18px;
    color: rgb(115, 73, 154);
    
}
#small>h3{
    margin-left: 175px;
    color: blue;
}
#small>h3>a{
    text-decoration: none;
}
#small>img{
    position: relative;
    width: 15px;
    height: 15px;
    right: -280px;
    top: -37px;
    transform: rotateZ(-45deg) translateY(2px);
}




#midhead{
    width: 80%;
    /* background-color: aquamarine; */
    margin: auto;
    height: 160px;
    align-items: center;
    display: block;
    margin-top: 150px; 
}
#midhead>h1{
    display: block;
    text-align: center;
}
#midhead>p{
    display: block;
    text-align: center;
    color: rgb(78, 75, 75);
    font-size: 18px;
}


body{
    margin:auto;
}

#nav{
    display: flex;
    justify-content: space-evenly;
    height: 55px;
    width: 80%;
    margin: auto;
    /* background-color: rebeccapurple; */
    align-items: center;
    font-size: 18px;
    backdrop-filter: blur(20px);

}
#nav{
    position: sticky;
    top: 0;
}
#nav>div>a{
    text-decoration: none;
    color: black;
}
#nav>div>a:hover{
color: blue;
cursor: pointer;
margin-bottom: 10px;
transition: .5s ease-out;
font-weight: bold;
}
#nav>div:before{
    content: "";
    bottom: -2px;
    color: #181064;
}

#subsub{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 185px;
    margin-top: 135px;
}
/* #subsub>div:first-child{
    border: 1px solid red;
} */
#subsub>div>h3{
    font-weight: bolder;
}
#subsub>div>p{
    font-size: 18px;
    color: gray;
}
li::before{
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #5c07d1;
    border-radius: 50%;
}
li::after{
    width: 3px;
    height: 6px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 5px;
    transform: rotate(45deg);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
li{
    margin-top: 10px;
    font-size: 18px;
    color: gray;
}
ul>h3>a{
    text-decoration: none;
}
ul>img{
    width: 15px;
    height: 15px;
    position: relative;
    left: 105px;
    top: -35px;
    transform: rotate(315deg)
}
#correction{
    width: 400px;
}






#head{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top:250px
}
#head>div>img{
    width: 285px;
    height: 225px;
}
#head>div:last-child{
    width: 785px;
    height: 225px;
    display: flex;
}
#head>div:last-child>div{
    width: 775px;
    height: 80px;
}
#head>div:last-child>div>h1{
    margin-left: 117px;
    display: flex;
    margin-top: -2px;
    font-size: 37px;
    color: #181064;
}
/* #head>div:last-child>div{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    width: 750px;
    height: 50px;
} */
#stats{
    display:grid;
    width: 600px;
    height: 100px;
    grid-template-columns: repeat(4, 145px);
    gap: 20px;
    position: relative;
    left: 505px;
    top: -129px;
}
#stats>div{
    width: 100px;
    height: 100px;
}
#stats>div>h1{
    margin-top: -70px;
    color: #181064;
}
#stats>div>p{
    margin-top: -70px;
    color: #181064;
}



#footer{
    margin-top: 300px;
    width: 100%;
    height:400px;
    border: 1px solid rebeccapurple;
    display: flex;
    background-image: linear-gradient(120.88deg,#3c2399 29.77%,#6c1c88 80.6%);
}
#footer1{
    
    width: 660px;
}
#footer1>div{
    border: 1px sold rgb(0, 55, 255);
    width: 500px;
    height: 200px;
    margin: auto;
    align-items: center;
}
#footer1>div>h1{
    margin-top: 20px;
    color: white;
}
#footer1>div>input{
    margin-left: 45px;
    height: 50px;
    width: 420px;
    border-radius: 30px;
    font-size: 20px;
    background-color:#1d0968;
    border: none;
}
#footer1>div>p{
    color: red;
    margin-left: 40px;
}
.demo>h2{
    position: relative;
    background-color: #b032de;
    color: white;
    width: 125px;
    height: 38px;
    display: flex;
    border-radius: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    left: 418px;
    top: -184px;
}
#footer2{
    width: 660px;
}
#footer2>div{
    width: 500px;
    height: 75px;
    display: flex;
    margin: auto;
    margin-top: 300px;
}
#footer2>div>img{
    width: 125px;
    height: 43px;
}
.Robin{
    width: 350px;
    height: 384px;
    border-radius: 25px;
    position: relative;
    left: 815px;
    bottom: 572px;
    background-color: white;
}
.Robin>img:first-child{
display: flex;
width: 52px;
height: 52px;
margin-left: 270px;
}
.Robin>img:nth-child(2){
    width: 100px;
    height: 100px;
    margin-left: 40px;
    border-radius: 60px;   
}
.Robin>div{
    margin-left: 40px;
}
.Robin>div>p{
    margin-top: 20px;
    font-size: 18px;
}
#spann{
    color:black;
    font-weight: bold;
}
span{
    color: red;
}







#mainfooter{
    margin-top: -345px;
    display: flex;
    justify-content: space-around;
}
#mainfooter>div>p>a{
text-decoration: none;
color: rgb(64, 60, 60)
}
#mainfooter>div>p>a:hover{
    margin-left: 10px;
    transition: .2s ease-out;
    font-weight: bold;
}



#icons{
    margin-top: 63px;
    margin-left: 1130px;
    display: grid;
    grid-template-columns: repeat(4, 35px);
    grid-template-rows:repeat(1, 35px) ;
    gap: 10px;
    width: 170px;
    height: 180px;
}
#icons>a>img{
    width: 20px;
    height: 20px;
}

#chat{
    position: sticky;
    /* position:relative; */
    width: 67px;
    height: 67px;
    border-radius: 5px;
    margin-left: 1130px;
    top:85%;
}
#chat>img{
    border-radius: 5px;
}


#names{
    /* border: 1px solid red; */
    width: 171px;
    height: 133px;
    display: flex;
    gap:20px;
    overflow-x: auto;
    overflow: hidden;
    position: relative;
    left: 1109px;
    top: 41px;
}
#names>div{
    width: 150px;
    height:50px;
   
}
#names>div>p{
    width:155px;
}
.za-bg__purple{
    position: relative;
    left: -21px;
    bottom: 35px;
    width: 170px;
    height: 170px;
    z-index: 2;
    background: radial-gradient(66.26% 66.26% at 50% 50%,rgba(253,248,244,.8) 0,rgba(225,225,225,.608333) 84.9%,rgba(253,248,244,.8) 100%);
    border-radius: 20px;
    transform: rotate(80deg);
    animation: morph2 4s linear infinite alternate;
    background-color: #1d0968;
}
.za-bg__white{
    position: relative;
    width: 240px;
    height: 240px;
    bottom: -30px;
    left: 5px;
    z-index: 1;
    background: radial-gradient(63.23% 63.23% at 50% 50%,#5701b1 0,#ce91ff 61.99%,#fff 100%);
    border-radius: 30px;
    transform: rotate(80deg);
    transition: .3s ease-in-out;
    animation: morph 4s linear infinite alternate;
}

.demo{
background:radial-gradient(100% 100% at 50% 50%,#5701b1 0,#ce91ff 61.99%,#fff 100%);
color: white;
border-radius: 30px;
height: 50px;
width: 185px;
border: 1px solid purple;
}
.demo>a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.sign{
    border-radius: 30px;
    height: 50px;
    width: 200px;
    border: 1px solid black;
    margin-left: 20px;
}
.sign>a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

div>div>marquee{
    margin-top: 160px;
}
body{
    overflow-x: hidden;
}