*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#signup_box{
    width: 100%;
    height: auto;
    border: 1px solid;
    display: flex;
}


/* Left_Box */
#left_box{
    width: 31%;
    height: auto;
    border: 1px solid;
}
#L1D1{
    background-color: rgba(128, 128, 128, 0.63);
    border: 1px solid blue;
}
#L1D1>img{
    width: 58%;
    height: 100%;
    margin-left: 21%;
    margin-top: 20px;
}
#L1D2{
    width: 100%;
    height: 90px;
    border: 1px solid red;
    background-color: #38039A;
    text-align: center;
    color: white;
}
#L1D2>h1{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 12px;
}
#L1D2>h1+p{
    text-align: center;
    color: whitesmoke;
    font-size: 14px;
    margin-top: 5px;
}
#L1D3{
    width: 100%;
    height: auto;
    border: 1px solid green;
    background-color: #5203e4;
}
#L1D3_box1{
    width: 75%;
    height:auto;
    border: 1px solid;
    margin: auto;
}
#L1D3_box1>p{
    color: white;
    text-align:center;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 24px;
    line-height: 26px;
}
#image_1{
    width: 150px;
    height: 34px;
    margin-left: 25%;
}
#image_1+p{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin-top: 90px;
    color: #FFA566;
}
#L1D3_box2{
    width: 30%;
    height: auto;
    border: 1px solid;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 54px;
}
#L1D3_box2_d1{
    width: 9px;
    height: 9px;
    border: 2px solid white;
    background-color: #FFA566;
}
#L1D3_box2_d2{
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    background-color: rgb(255 255 255);
    border-radius: 50%;
}
#L1D3_box2_d3{
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    background-color: rgb(255 255 255);
    border-radius: 50%;
}









/* Right_Box */
#right_box{
    width: 69%;
    height: 100%;
    font-weight: bold;
    border: 1px solid;
}
#R1D1{
    border: 1px solid red;
    width: 60%;
    height: auto;
    margin: auto;
}
#R1D1_box1{
    width: 100%;
    height: 38px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
#R1D1_box1d1{
    height: 100%;
    width: auto;
    border: 1px solid green;
}
#R1D1_box1d1>img{
    height: 100%;
    width: 100%;
}
#R1D1_box1d2{
    height: auto;
    width: auto;
    border: 1px solid;
    padding-top: 5px;
}
#R1D1_box1d2>a{
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    color: #00000A;
}
#R1D1_box1d2>a>img{
    height: 14px;
}
#R1D1_box2{
    width: 100%;
    height: 600px;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    margin-top: 54px;
}
#R1D1_box2>p{
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    background-color: white;
    margin-top: -13px;
    margin-left: 30px;
    padding: 0px 12px 0px 12px;
    font-family: basis-grotesque, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#R1D1_box2d1{
    width: 85%;
    height: 514px;
    border: 1px solid green;
    margin: auto;
    margin-top: 54px;
}
#p1{
    color: #727272;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#email{
    width: 97%;
    height: 46px;
    line-height: 36px;
    font-size: 16px;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding-left: 16px;
    margin-bottom: 32px;
}
#p2{
    color: #727272;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}
#number{
    width: 97%;
    height: 46px;
    line-height: 36px;
    font-size: 16px;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding-left: 16px;
}
#p3{
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    color: #727272;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: 32px;
}
#checkbox{
    width: 18px;
    height: 18px;
}
#button{
    font-size: 18px;
    font-weight:bolder;
    background-color: rgba(0, 0, 170, 0.274);;
    color: white;
    padding: 13px 26px 13px 26px;
    margin-top: 20px;
    border: 0px solid;
    border-radius: 5px;
    margin-bottom: 40px;
}
#p4{
    margin-bottom: 12px;
    font-size: 13px;
    color: #7f7f7f;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
}
#p5{
    font-size: 11px;
    margin-bottom: 18px;
    color: #9f9ca6;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#p6{
    margin-bottom: 0;
    font-weight: normal;
    letter-spacing: -0.2px;
    font-size: 13px;
    line-height: 20px;
    color: #727272;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}








#R1D1_box3{
    width: 100%;
    height: 28px;
    border: 1px solid;
    margin-top: 40px;
}
#R1D1_box3>img{
    height: 28px;
    width: 85%;
    margin-left: 7.5%;
}
